*{
	margin: 0;
	padding: 0;
}

/*Estilos Index*/

.main{
	width: 100%;
	height: auto;
	position: relative;
	clear: both;
}


.logo{
	max-width: 170px;
	padding: 10px 0px 10px 20px;
}

.slider-container{
	position: relative;
	width: 100%;
	height: auto;
	overflow: hidden;
}

.slider-caption{
	font-size: 4em;
	color: #FFF;
}

.slider-descrip{
	font-size: 1.5em;
}

.transparency{
	opacity: .8;
}

.menu-link{
	font-size: 22px;
	line-height: 22px;
	transition: all 0.35s;
}

.menu-link:hover{
	color: #295181;

}


.bg-include{
	background-image: url(../img/triangulos.png);
	background-position: right;
	background-repeat: no-repeat;
	background-size: cover; 
	overflow: hidden;
	width: 100%;
	max-width: 100%;
	height: 590px;
	position: relative;
}

.float-historia{
	float: left;
	position: relative;
	height: 60px;
	width: 60%;
}

.title-historia{
	background-image: url(../img/bg-line-blue.png);
	background-repeat: no-repeat;
	background-position: left;
	width: 100%;
	height: 60px;
	font-size: 1.5em;
	color: white;
	padding-top: 18px;
	padding-left: 40px;
	letter-spacing: 2px;
	margin-top: 0;
}

.texto-historia{
	padding-left: 40px;
	margin-top: 40px;
	font-size: 0.7em;
	position: relative;
}

.title-servicios {
	width: 100%;
	height: 60px;
	font-size: 1.5em;
	color: white;
	padding-right:60px;
	text-align: right;
	letter-spacing: 2px;
}

.float-servicios{
	position: absolute;
	background: transparent;
	height: 60px;
	top: 520px;
	right: 0;
	margin-right: 0;
	margin-bottom: 20px;
	padding-right: 0;
}

.column-left{
	position: relative;
	background-image: url(../img/column-left.png);
	background-position: bottom;
	background-repeat: no-repeat;
	width: 60px;
	height: 2000px;
	float: left;
}

.column-right{
	position: relative;
	background-image: url(../img/column-right.png);
	background-position: top;
	background-repeat: no-repeat;
	width: 60px;
	height: 2000px;
	float: right;
}

.content-position-absolute{
	width: 96%;
	left: 2%;
	height: auto;
	max-height: 100%;
	margin-left: auto;
	margin-right: auto;
	position: absolute;
	z-index: 100;
}

.main-content{
	overflow: hidden;
	width: 100%;
	margin-top: 0px;
	position: relative;
	height: auto;
	background-color: transparent;
	z-index: 102;
}

.service-box{
	height: 100%;
	width: auto;
	background-color: transparent;
	display: inline-block;
	transition: all 0.5s;
}



#servicios{
	margin-bottom: 60px;
}

.inside-block-service:first-child{
	margin-right: 0;
}

.inside-block-service:last-child{
	margin-left: 0;
}

.inside-block-service{
	position: relative;
	box-sizing: border-box;
	height: 100%;
	width: 100%;
	background-color: #3D4875;
	margin: 30px;
	overflow: hidden;
	transition: all 0.5s;
}

.inside-block-service:hover {
	transform: scale(1.1);
	-webkit-box-shadow: 0px 6px 44px 1px rgba(0,0,0,0.43);
	-moz-box-shadow: 0px 6px 44px 1px rgba(0,0,0,0.43);
	box-shadow: 0px 6px 44px 1px rgba(0,0,0,0.43);
}

.label-top{
	box-sizing: border-box;
	padding-top: 1px;
	width: 100%;
	height: 20%;
	background-color: #B5B5B5;
}

.label-title {
	display: flex;
	width: 100%;
	height: 100%;
	letter-spacing: 2px;
	color: #FFF;
	text-transform: uppercase;
	font-size: 24px;
	line-height: 30px;
	padding-bottom: 6px;
	justify-content: center;
    align-content: center;
    flex-direction: column;
}

.img-white-logo{
	margin: auto;
	padding-top: 10px;
}

.icon-toggle{
	width: 35px;
	height: auto;
	transform: rotate(270deg);
}

.flat-button{
	box-sizing: border-box;
	padding-bottom: 10px;
	background-color: transparent;
	width: auto;
	text-transform: uppercase;
	color: #FFF;
	font-size: 26px;
	border: none;
	display: block;
	margin: auto;
	padding-top: 7%;
	outline: none;
}


.project-content{
	width: 100%;
	clear: both;
	height: auto;
	background: transparent;
	margin-top: 20px;
}
.letter{
	
	height: 60px;
	width: 60%;
	background-image: url(../img/horizontal-line.png);
	background-repeat: no-repeat;
	background-position: right;
}

.title-proyectos{
	font-size: 30px;
	color: #FFF;;
	text-align: left;
	padding-top: 18px;
    padding-left: 40px;
    letter-spacing: 2px;
}

.flex-content{
	width: 90%;
	left: 5%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	background-color: transparent;
}

.box-content-project{
	position: relative;
	background-color: transparent;
	height: auto;
}

.cartel{
	display: none;
	position: absolute;
	background-color: #3D4875;
	top: 22%;
}

.cartel p{
	color: #FFF;
	text-align: center;
	font-size: 11px;
	margin: 10px 15px;
}

.box-project{
	box-sizing: border-box;
	margin:10px auto;
	width: 80%;
	height: 50%;
	overflow: hidden;
	min-height: 200px;
	background-color: transparent;
	position: relative;
	transition: all 0.5s;
}

.box-project:hover{
	transform: scale(1.1);
}

.cover{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #3D4875;
	z-index: 105;
	opacity: .7;
}

.label-blue{
	box-sizing: border-box;
	padding-top: 1px;
	width: 100%;
	height:auto;
	background-color: #3D4875;
	position: absolute;
	top: 0px;
	z-index: 107;
}

.title-label-blue{
	font-size: 26px;
	line-height: 26px;
	color: #FFF;
	text-transform: uppercase;
}

.logo-white-mini{
	width: 70%;
	height: auto;
	margin: 30% auto 10% auto;
}

.title-mision{
	text-align: center;
	color: #FFF;
	font-size: 1.5em;
	letter-spacing: 2px;
	padding-bottom: 10px;
}

.texto-mision, .texto-vision{
	color: #FFF;
}

.position-wrapper{
	position: absolute !important;
	top: 10px;
	left: 50px;
}

.ultra-bold{
	font-weight: 800;
}

.position-wrapper-2{
	position: absolute !important;
	top: 180px;
	right: 50px;
}

.title-vision{
	text-align: center;
	color: #FFF;
	font-size: 1.5em;
	letter-spacing: 2px;
	padding-bottom: 10px;
}

.bloque-proyectos{
	padding: 50px 0px;
}

footer{
	position: relative;
	clear: both;
	display: block;
	background-color: #282829;
	width: 100%;
	margin-top: -500px
}

.grey-letter{
	width: 100%;
	height: auto;
	background-color: #B5B5B5;

}

.contact-text{
	font-size: 30px;
	letter-spacing: 2px;

}

.link-pdf{
	color: #777 !important;
}

.contact-text .link-pdf {
	text-decoration: none;
}

#link-pdf:hover {
	color: #dd4b39;
}

.list-menu-bottom{
	list-style: none;
	font-size: 30px;
	float: right;
	margin-right: 30%;
}

.link-menu{
	letter-spacing: 1px;
	transition: all 0.4s;
}

.link-menu:link, .link-menu:visited{
	color: #777;
	text-decoration: none;
}

.link-menu:hover, .link-menu:active{
	color:#FFF;
	text-decoration: none;
}

.social-icon{
	width: 100%;
	text-align: right;
	padding-right: 7%;
	padding-top: 60px;
}

.social-icon li{
	display: inline-block;
	margin-right: 20px;
	font-size:30px;
}

.social-a{
	color: #777;
	text-decoration: none;
	transition: all 0.4s;
}

.social-a:link,.social-a:visited{
	color: #777;
	text-decoration: none;
}

#google:hover{
	color: #dd4b39;
}
#facebook:hover{
	color: #3b5998;
}

#twitter:hover{
	color: #55acee;
}

#youtube:hover{
	color: #bb0000;
}

#linkedin:hover{
	color: #007bb5;
}

/*Media queries*/

@media(max-width: 1430px){
	.float-historia{
		width: 50%;
	}
}

@media(min-width: 1247px){
	.column-left,.column-right{
		height: 2000px;
	}
}

@media(max-width: 1246px){
	.column-left,.column-right{
		height: 1600px;
	}

	.position-wrapper, .position-wrapper-2{
		clear: both;
		width: 100%;
		margin: 0px 20px;
	}

	.title-vision, .title-mision{
		font-size: 14px;
	}

	.texto-vision, .texto-mision{
		font-size: 10px;
	}

}

@media(max-width: 1247px){
	.float-historia{
		width: 40%;
	}
}

@media(max-width: 1199px){
	.column-left,.column-right{
		height: 2000px;
	}
}

@media(max-width: 1161px){
	.bg-include{
		background-image: url(../img/people.jpg);
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}
	.float-historia{
		width: 100%;
	}

	.texto-historia{
		width: 90%;
		color: #FFF;
		margin-left:2%;
		margin-right: 5%;
	}

	.float-servicios{
		background-image: url(../img/bg-line-blue-invertida.png);
		background-repeat: no-repeat;
		background-position: left;
		width: 40%;
		height: 70px;
	}

	.column-left,.column-right{
		height: 6000px;
		background-image: none;
		background: rgba(41,81,129,1);
		background: -moz-linear-gradient(45deg, rgba(41,81,129,1) 0%, rgba(61,72,117,1) 100%);
		background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(41,81,129,1)), color-stop(100%, rgba(61,72,117,1)));
		background: -webkit-linear-gradient(45deg, rgba(41,81,129,1) 0%, rgba(61,72,117,1) 100%);
		background: -o-linear-gradient(45deg, rgba(41,81,129,1) 0%, rgba(61,72,117,1) 100%);
		background: -ms-linear-gradient(45deg, rgba(41,81,129,1) 0%, rgba(61,72,117,1) 100%);
		background: linear-gradient(45deg, rgba(41,81,129,1) 0%, rgba(61,72,117,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#295181', endColorstr='#3d4875', GradientType=1 );
	
	}
}

@media(max-width: 1025px) and (min-width: 992px){
	.column-left,.column-right{
		height: 1990px;
	}
}

@media(max-width: 991px){
	.column-left,.column-right{
		height: 5500px;
		background-image: none;
		background: rgba(41,81,129,1);
		background: -moz-linear-gradient(45deg, rgba(41,81,129,1) 0%, rgba(61,72,117,1) 100%);
		background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(41,81,129,1)), color-stop(100%, rgba(61,72,117,1)));
		background: -webkit-linear-gradient(45deg, rgba(41,81,129,1) 0%, rgba(61,72,117,1) 100%);
		background: -o-linear-gradient(45deg, rgba(41,81,129,1) 0%, rgba(61,72,117,1) 100%);
		background: -ms-linear-gradient(45deg, rgba(41,81,129,1) 0%, rgba(61,72,117,1) 100%);
		background: linear-gradient(45deg, rgba(41,81,129,1) 0%, rgba(61,72,117,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#295181', endColorstr='#3d4875', GradientType=1 );
	}

	.contact-text, .link-menu, .list-menu-bottom{
		font-size: 20px;
		text-align: center;
	}

	.list-menu-bottom{
		width: 100%;
		margin: 20px auto; 
	}

	.social-icon{
		text-align: center;
		padding-right: 0px;
		margin: 0 auto;
	}
}


@media(max-width: 768px){
	.bg-include{
		background-image: none;
		background: rgba(41,81,129,1);
		background: -moz-linear-gradient(45deg, rgba(41,81,129,1) 0%, rgba(61,72,117,1) 100%);
		background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(41,81,129,1)), color-stop(100%, rgba(61,72,117,1)));
		background: -webkit-linear-gradient(45deg, rgba(41,81,129,1) 0%, rgba(61,72,117,1) 100%);
		background: -o-linear-gradient(45deg, rgba(41,81,129,1) 0%, rgba(61,72,117,1) 100%);
		background: -ms-linear-gradient(45deg, rgba(41,81,129,1) 0%, rgba(61,72,117,1) 100%);
		background: linear-gradient(45deg, rgba(41,81,129,1) 0%, rgba(61,72,117,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#295181', endColorstr='#3d4875', GradientType=1 );
		height: 600px;
		display: table;
	}

	.texto-historia{
		color: #FFF;

	}

	.slider-caption{
		font-size: 2em;
	}

	.slider-descrip{
		font-size: 1em;
	}

	.letter{
		width: 100%;
		background-image: none;
		background-image: none;
		background: rgba(41,81,129,1);
		background: -moz-linear-gradient(45deg, rgba(41,81,129,1) 0%, rgba(61,72,117,1) 100%);
		background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(41,81,129,1)), color-stop(100%, rgba(61,72,117,1)));
		background: -webkit-linear-gradient(45deg, rgba(41,81,129,1) 0%, rgba(61,72,117,1) 100%);
		background: -o-linear-gradient(45deg, rgba(41,81,129,1) 0%, rgba(61,72,117,1) 100%);
		background: -ms-linear-gradient(45deg, rgba(41,81,129,1) 0%, rgba(61,72,117,1) 100%);
		background: linear-gradient(45deg, rgba(41,81,129,1) 0%, rgba(61,72,117,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#295181', endColorstr='#3d4875', GradientType=1 );
	}

	.content-position-absolute{
		width: 100%;
		left: 0;
	}

	.column-left,.column-right{
		background: transparent;
		height: 5400px;
	}

	.float-servicios{
		width: 100%;
		height: 80px;
		background-image: none;
		background: rgba(41,81,129,1);
		background: -moz-linear-gradient(45deg, rgba(41,81,129,1) 0%, rgba(61,72,117,1) 100%);
		background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(41,81,129,1)), color-stop(100%, rgba(61,72,117,1)));
		background: -webkit-linear-gradient(45deg, rgba(41,81,129,1) 0%, rgba(61,72,117,1) 100%);
		background: -o-linear-gradient(45deg, rgba(41,81,129,1) 0%, rgba(61,72,117,1) 100%);
		background: -ms-linear-gradient(45deg, rgba(41,81,129,1) 0%, rgba(61,72,117,1) 100%);
		background: linear-gradient(45deg, rgba(41,81,129,1) 0%, rgba(61,72,117,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#295181', endColorstr='#3d4875', GradientType=1 );
	}

	.text-right, .text-left{
		text-align: center !important;
		margin: 20px;
		width: 90%;
	}

	.texto-vision, .texto-mision{
		font-size: 8px !important;
	}

	.position-wrapper{
		left: 0px;
	}

	.position-wrapper-2{
		right: 0px;
	}

	.title-vision, .title-mision{
		text-align: center !important;
	}

}

@media(max-width: 560px){
	.slider-caption{
		font-size: 1.5em;
	}
	.slider-descrip{
		font-size: .5em;
		margin-top: 0px;
	}

	.logo{
		width: 100px;
		height: auto;
	}

	.column-left,.column-right{
		background: transparent;
		height: 4400px;
	}
}

@media(max-width: 547px){
	.texto-historia{
		font-size: 0.45em;
	}
}

@media(max-width: 540px){
	.column-left,.column-right{
		height: 4100px;
	}
}

@media(max-width: 412px){
	.column-left,.column-right{
		height: 3600px;
	}
}

@media(max-width:380px){
	.column-left,.column-right{
		height: 4000px;
	}
}

@media(max-width: 360px){
	.flat-button{
		font-size: 20px;
	}
	.icon-toggle{
		width: 30px;
	}

	.title-label-blue{
		font-size: 20px;
	}

	.column-left,.column-right{
		height: 3400px;
	}

}


@media(min-width: 321px) and (max-width: 359px){
	.column-left,.column-right{
		height: 3600px;
	}
}



@media(max-width: 320px){
	.column-left,.column-right{
		height: 3100px;
	}
}


/*Estilos de Contacto*/

.form-contact{
	width: 80%;
	height: auto;
	background: transparent;
	margin: 50px auto 80px auto;
}

.form-field{
	width: 50%;
	float: left;
	height: 30px;
	margin:10px;
	color: #3D4875;
	-moz-box-shadow: 0px 0px 9px 4px rgba(0,0,0,0.16);
	-webkit-box-shadow: 0px 10px 9px 4px rgba(0,0,0,0.14);
	-moz-box-shadow: 0px 10px 9px 4px rgba(0,0,0,0.14);
	box-shadow: 0px 10px 9px 4px rgba(0,0,0,0.14);
}

.coment-area{
	margin-top: -90px;
	width:45%;
	float: right;
	height: 130px;
	color: #3D4875;
	-webkit-box-shadow: 0px 10px 9px 4px rgba(0,0,0,0.14);
	-moz-box-shadow: 0px 10px 9px 4px rgba(0,0,0,0.14);
	box-shadow: 0px 10px 9px 4px rgba(0,0,0,0.14);
	resize: none;
}

.form-button{
	width: 120px;
	height: 50px;
	background-color: #333950;
	color: #FFF;
	border: none;
	letter-spacing: 2px;
	float: right;
	margin:50px 0px 30px 0px;
	transition: all 0.4s;
}

.form-button:hover{
	background-color: #2F3E72;
}

/*Media queries de Contacto*/

@media(max-width: 768px){
	.form-field{
		width: 90%;
		margin:5px 5%;
		clear: both;
	}

	.coment-area{
		width: 90%;
		margin: 35px 5%;
		clear: both;
	}

	.form-button{
		float: none;
		margin-left: auto;
		margin-right: auto;
		display: block;
	}
}